/*global styles*/

/* import fonts */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root {
  /* --main-green: #d4fcc0;
  --header-button-background: #EDF1D6;
  --brown-warm: rgb(149, 88, 50); */
  --green: #a4ae8c;
  --cream-green: rgb(181, 212, 178);
  --light-grey: #8a8787;
  --dark-grey: #3b3b3b;
  --brown-grey: #6c3f2a;
  --cream: #c5b097;
  --text-dark-green: #293625;
  --test-medium-green: #264b2a;
  --light-yellow: #f7f1c7;
}

/* mobile view */
* {
  box-sizing: border-box;
	background-color: var(--cream-green);
  color: var(--dark-grey);
  font-family: "Work Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  /* line-height: 20px; */
}

.container {
  width: 100%;
}


#linkedin{
  color:#1c66c2;
}

#github{
  color:#000000;
}

#gmail{
  color:rgb(224, 63, 63);
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.border {
  border-width: 1px;
}