/* screen - index (home screen) */

/* Navbar Styles */
@import "globals.css";

.index .navbar{
    overflow: hidden;
}

.index .navbar .about_me{
    float: right;
    display: block;
    color: #54431e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 2px solid #af544c;
    border-radius: 4px;
}

.index .navbar .projects{
    float: right;
    display: block;
    color: #54431e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 2px solid #af544c;
    border-radius: 4px;
}

.index .navbar .resume{
    float: right;
    display: block;
    color: #54431e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 2px solid #af544c;
    border-radius: 4px;
}

.index .navbar .contact{
    float: right;
    display: block;
    color: #54431e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 2px solid #af544c;
    border-radius: 4px;
}


