/* screen - index (home screen) */

/* Navbar Styles */

.index .navbar {
    overflow: hidden;
    align-items: flex-end;
    display: flex;
    height: 161px;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    padding: 14px 16px;
    top: 0;
}

    .index .navbar .about_me {
        float: right;
        display: block;
        color: #54431e;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border: 2px solid #af544c;
        border-radius: 4px;
        background-color: transparent;
    }

.about_me:hover {
    color: #af544c;
    background-color: #54431e;
}

    .index .navbar .projects {
        float: right;
        display: block;
        color: #54431e;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border: 2px solid #af544c;
        border-radius: 4px;
        background-color: transparent;
    }

.projects:hover {
    color: #af544c;
    background-color: #54431e;
}

    .index .navbar .resume {
        float: right;
        display: block;
        color: #54431e;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border: 2px solid #af544c;
        border-radius: 4px;
        background-color: transparent;
    }

.resume:hover {
    color: #af544c;
    background-color: #54431e;
}

    .index .navbar .contact {
        float: right;
        display: block;
        color: #54431e;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border: 2px solid #af544c;
        border-radius: 4px;
        background-color: transparent;
    }

.contact:hover {
    color: #af544c;
    background-color: #54431e;
}


